$button-primary-color: $c-primary-600;
$button-primary-color-hover: $c-primary-800;
$button-primary-color-active: $c-primary-400;

$button-text-color: $c-secondary-0;
$button-text-color-invert: $c-primary-600;
