// Colors
$c-primary-800: #5f3d6d !default;
$c-primary-600: #6d597a !default;
$c-primary-400: #a38fb7 !default;

$c-link: white;

$c-secondary-1000: black;
$c-secondary-800: #212429;
$c-secondary-600: #495057;
$c-secondary-400: #ACB5BD;
$c-secondary-200: #DDE2E5;
$c-secondary-100: #F8F9FA;
$c-secondary-0: white;


$c-third-400: $c-primary-600;

$main-background-color: #695976;

$c-error: #A43636;

