.input{
  width              : 100%;
  padding            : 22px 24px;
  border             : none;
  background-color   : $c-secondary-200;
  border-radius      : $bd-rs-primary;
  outline            : none;
  font-size          : $fs-primary-big;
  -webkit-appearance : none;

  &--small{
    width     : 90px;
    font-size : $fs-small;
  }

  &--date{
    &:before{
      content : '';
      display : inline-flex;
      width   : 25px;
      height  : 25px;
    }
  }
}
