.information {


	&__list {
		display: grid;
		column-gap: 24px;

		margin-bottom: 24px;

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__title {
		padding-bottom: 24px;
	}

	&__button {
		@include media-breakpoint-down(md) {
			width: 100%;
			margin-bottom: 12px;
		}
	}
}